<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DgtCherub.Properties.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DgtCherub.Properties.UserSettings>
            <setting name="VolStatus" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="VolMoves" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="VolTime" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="BeepMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Silent" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PreventSleep" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlwaysOnTop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MatcherDelay" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="MoveVoiceIdx" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MatcherLocalDelay" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="IsRabbitDisabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IncludeSeconds" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>17</value>
            </setting>
            <setting name="MatcherLocalFromMismatchDelay" serializeAs="String">
                <value>0.7</value>
            </setting>
            <setting name="StartingWidth" serializeAs="String">
                <value>1300</value>
            </setting>
            <setting name="LastUciExe" serializeAs="String">
                <value />
            </setting>
            <setting name="UciOptions" serializeAs="String">
                <value />
            </setting>
            <setting name="DebugUciIn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DebugUciOut" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AltDgtDllPath" serializeAs="String">
                <value />
            </setting>
        </DgtCherub.Properties.UserSettings>
    </userSettings>
</configuration>