################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/sourceNative/DgtAngelNative/Debug
/sourceNative/DgtAngelNative/x64/Debug
/sourceNative/DgtAngelNative/DgtAngelNative.vcxproj.user
/sourceNative/.vs/DgtAngelNative
/sourceNative/x64/Debug
/sourceNative/Debug
/sourceNative/DgtAngelNative/x64/Release
/sourceNative/DgtAngelNative/Release
/sourceNative/Release
/sourceNative/x64/Release
