@page "/index.html"
@inherits IndexPage

<img src="Icons/Default/icon-128.png" />
<hr />
<h2>About</h2>
<p>Some Text</p>
<a href="https://github.com/Hyper-Dragon/DgtAngel" target="_blank">This Project</a>
<h2>Usage</h2>
<p>Some Text</p>
<h2>Dependencies</h2>
<ul>
    <li>DGT Live Chess v2.2.5</li>
    <li>Chess.com 'Live' as of August, 2021</li>
    <li>A Physical DGT Board <i>available at all good Chess Shops</i></li>
</ul>
<h2>Acknowledgements</h2>
<ul>
    <li><a href="https://github.com/mingyaulee/Blazor.BrowserExtension" target="_blank">mingyaulee - Blazor.BrowserExtension</a></li>
    <li><a href="https://github.com/thomas-daniels/Chess.NET" target="_blank">thomas-daniels - Chess.NET</a></li>
</ul>
<hr />