@page "/index.html"
@inherits IndexPage

<img src="Icons/Default/icon-128.png" />
<hr />
<h2>About</h2>
<p>Some Text</p>
<a href="https://github.com/Hyper-Dragon/DgtAngel" target="_blank">This Project</a>
<h2>Usage</h2>
<p>Designed to complement the Chess.com voice plugin <a href="https://chrome.google.com/webstore/detail/chesscom-voice-commentary/kampphbbbggcjlepmgfogpkpembcaphk?hl=en" >available here</a>.</p>
<p>For instructions on how to connect your DGT board to your PC there is a great video <a href="https://www.youtube.com/watch?v=F6vhcRcA34o">on youtube</a>.</p>
<h2>Dependencies</h2>
<ul>
    <li>DGT Live Chess v2.2.5</li>
    <li>Chess.com 'Live' as of August, 2021</li>
    <li>A Physical DGT Board (with bluetooth for optional clock support)</li>
    <li><b>Optional</b>A DGT 3000 Clock</li>
</ul>
<h2>Known Issues</h2>
<ul>
    <li>Only works in 'Live Chess' not 'Play'.  This is because the voice plugin only works in Live</li>
    <li><ul><li>Live Chess does not always exit properly. End the task in Task Manager or open powershell and run...</li><li>Get-Process | Where-Object { $_.Name -eq "DGT LiveChess" } | Select-Object -First 1 | Stop-Process -Force</li></ul></li>
</ul>
<h2>Acknowledgements</h2>
<ul>
    <li><a href="https://github.com/mingyaulee/Blazor.BrowserExtension" target="_blank">mingyaulee - Blazor.BrowserExtension</a></li>
    <li><a href="https://github.com/thomas-daniels/Chess.NET" target="_blank">thomas-daniels - Chess.NET</a></li>
</ul>
<hr />