@page "/options.html"
@inherits BasePage

<h1>DgtAngel Options</h1>
<p>Since this is version 0.0.1 there are no options yet.</p>  
<p>If any options are added sometime in the future you will, unsurprisingly, be able to find them here!</p> 
