@page "/popup.html"
@using DgtAngel.Services
@inherits BasePage
@inject IAppData AppDataService
@inject IScriptWrapper Scripts

<h1>DGT Angel</h1>

@code {

    protected override async Task OnInitializedAsync()
    {
        await Scripts.WriteToConsole(ScriptWrapper.LogLevel.DEBUG, "POPUP", "Popup...popped up!");
    }
}