@page "/popup.html"
@using DgtAngel.Services
@inherits BasePage
@inject IAppData AppDataService
@inject IScriptWrapper Scripts

<h1>DGT Angel</h1>
<p>Loop Count is @(loopCount)</p>

@code {
    int loopCount = -1;

    protected override void OnInitialized()
    {
        AppDataService.OnChange += MyEventHandler;
    }

    private async void MyEventHandler()
    {
        await Scripts.WriteToConsole(ScriptWrapper.LogLevel.DEBUG,"POPUP", $"Handle Fired");
        loopCount = AppDataService.Age;
    }
}